NODE_ENV=production
DATABASE_URL=postgresql://postgres:[PASSWORD]@db.[PROJECT].supabase.co:5432/postgres
JWT_SECRET=cambia_esto_por_un_secreto_largo
JWT_EXPIRES_IN=7d
CORS_ORIGIN=https://tu-frontend.vercel.app
DB_SYNCHRONIZE=true
